@model DCBStore.Models.Product

@{
    ViewData["Title"] = "Xóa Sản phẩm";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn muốn xóa sản phẩm này và tất cả các biến thể của nó không?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Tên</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        
        <dt class = "col-sm-2">Mô tả</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        
         <dt class = "col-sm-2">Danh mục</dt>
        <dd class = "col-sm-10">@Html.DisplayFor(model => model.Category.Name)</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa vĩnh viễn" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại Danh sách</a>
    </form>
</div>