@model IEnumerable<DCBStore.Models.Product>

@{
    ViewData["Title"] = "Quản lý Sản phẩm";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus me-2"></i>Tạo sản phẩm mới
    </a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th class="text-center">Số lượng biến thể</th>
            <th style="width: 200px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                <td class="text-center">@item.Variants.Count()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit me-1"></i> Quản lý
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt me-1"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>